


# node.js
# git rm --cached 

node_modules/
backendMoshrif.json
serviceAccountKeys.json
.env
.env.*
firebase/serviceAccountKeys.json
firebase/*.pem
upload/
logs/
build/
mydatabase.db
mydatabase23.db
mydatabase.db-shm
mydatabase.db-wal