version: '3.9'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: moshrif
      POSTGRES_USER: moshrif
      POSTGRES_PASSWORD: moshrif
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'

  app:
    build: .
    env_file:
      - .env
    environment:
      PORT: 8080
      REDIS_URL: redis://redis:6379
      DATABASE_URL: postgres://moshrif:moshrif@postgres:5432/moshrif
      DB_CLIENT: postgres
      RUN_CRON: 'false'
    depends_on:
      - postgres
      - redis
    ports:
      - '8080:8080'

  worker:
    build: .
    command: ["node", "worker.js"]
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379
      DATABASE_URL: postgres://moshrif:moshrif@postgres:5432/moshrif
      DB_CLIENT: postgres
    depends_on:
      - postgres
      - redis

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - app
    ports:
      - '80:80'
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/nginx.conf:ro

  prometheus:
    image: prom/prometheus:v2.54.1
    depends_on:
      - app
    ports:
      - '9090:9090'
    volumes:
      - ./deploy/prometheus.yml:/etc/prometheus/prometheus.yml:ro

volumes:
  pgdata:
